.wrap-user {
    max-width: 100%;
}

.head {
    padding: 20px 20px 20px 20px;
    background-color: #edf4f9;
    color: rgb(82, 77, 77);
    margin-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: 500;
}

.user {
    display: flex;
    margin-bottom: 20px;
    background: #fff;
    padding: 20px;

    label {
        font-weight: 500;
    }

    .info {
        display: flex;

        .value {
            padding-left: 10px;
        }
    }

    img {
        border: 1px solid black;
    }
}