/* You can add global styles to this file, and also import other style files */
@import './theme/material-custom.scss';
@import './theme/common.scss';
@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
    height: 100%;
    background-color: #3c4cad;
    background-image: linear-gradient(180deg, #3c4cad, #c24ca2, #ff6d7d, #ffb05d, #f9f871);
    background-attachment: fixed;
    color: rgb(82, 77, 77);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}